@font-face {
    font-family: 'RockwellBold';
    src:  url(../fonts/Rockwell-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RockwellRegular';
    src:  url(../fonts/Rockwell-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src:  url(../fonts/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src:  url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}